html {
  box-sizing: border-box;
  font-size: 20px;
}

html, body {
  --color-aqua: #00DEFE;
  --color-lime: #C2E812; 
  --color-mauve: #81667A; 
  --color-blue: #2F3262;
  --color-light: white; 
  --color-black: #3B3923; 
  margin: 0;
  padding: 0;
  
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* cursor: url(hammer.svg), auto; */
  display: flex;
  flex-direction: row;
 
}


#timer {
  font-family: 'Orbitron', sans-serif;
  color: var(--color-lime);
  font-size: 50px;
}

.cursor {
  background-image: url(hammer.svg);
  width: 103px;
  height: 103px;
  position: absolute;
  transform: translate(-30%, -70%);
  pointer-events: none;
  transition: all .05s ease;
  transition-property: background, transform;
  z-index: 3;
  }

.link-grow {
  transform: rotate(45deg);

}

.wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid pink;
  width: 100%;
}


.container {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  cursor: auto; 
  height: 100vh;
  padding: 50px 30px 50px 30px;
  z-index: 4;
}


.container-btn {
  /* background-color: pink; */
  align-self: center;
  }

.container-title {
  color: var(--color-aqua);
  /* background-color: #C2E812; */
}

h1 {
  text-align: center;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0;
  text-transform: uppercase;
}

button {
  background-color: var(--color-lime);
  width:fit-content;
  border: 0;
  color: var(--color-light);
  padding: 10px 15px 10px 15px;
  font-size: 1rem;
 
}

button:hover{
  border: 0;
  color: var(--color-black);
}

.container-score {
  /* background-color: aquamarine; */
  text-align: center;
  width: fit-content;
  color: var(--color-light);
  border: 3px solid var(--color-lime);
  padding: 0px 20px 0px 20px;
}

.score {
  font-size: 100px;
}
.game {
  width: 600px;
  height: 400px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: var(--color-light);
} 

.hole {
  flex: 1 0 33.33%;
  display: block;
  background: url(hole-back.svg) bottom center no-repeat;
  background-size: contain;
  overflow: hidden;
  position: relative;
  
}

.hole:after {
  display: block;
  background: url(hole-front.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -1px;
 
}

.clown {
  background: url('clown.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.5s;
}

.bonked {
  background: url('clown-bonked.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
}


.hole.up .clown {
  top: 0;
}
